/*
 * style.css - Estilos personalizados para a página de links
 * Projeto: Tabata Oliveira Beauty
 * Desenvolvido por: Rinelly Vasconcelos
 * Este arquivo define o estilo visual e a responsividade da página.
 */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* Cor principal usada nos botões e destaques */
    --cor-primaria: #a16c51;

    /* Cor de fundo geral da página */
    --cor-background: #FFF6F0;

    /* Cor utilizada para bordas ou divisores */
    --cor-bordas: #603d24;

    /* Cor secundária complementar à principal */
    --cor-secundaria: #c48c64;

    /* Cores auxiliares para degradês e variações */
    --cor--terciaria: #DCB7AF;
    --cor--reserva: #FED4BB;
}

*{
    margin: 0;
    padding: 0;
}

html{
    height: 100vh;
    font-size: 14px;
}

/* Define a cor de fundo da página utilizando a variável e altura total */
body {
    background-color: var(--cor-background);
    height: 100%;
}

/* Container principal com limite de largura e centralização */
.container {
    height: 100%;
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

}

/* Estilos para links gerais */
a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    
}
/* Fundo degradê utilizando variáveis de cor */
.degrade {
  background: linear-gradient(to right, var(--cor--terciaria), var(--cor--reserva));
}

/* Cabeçalho centralizado com espaçamento e alinhamento */
.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    margin-bottom: 25px;
}

.imagem-principal {
    margin-bottom: 20px;
}

/* Seção de botões de navegação com espaçamento e fonte */
section.botoes-links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-family: "Montserrat", sans-serif;
}

/* Botões dentro dos links de navegação com cor e layout */
a.links_navegacao button {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;
    color: #FFFFFF;
}

a.links_navegacao i {
    font-size: 1em;
}

.rodape span {
    margin-top: 8%;
    font-size: 1.1em;
    color: #B3796C;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    position: absolute;
    padding: 0px 2px 2px;
}

/* Rodapé com alinhamento central e estilização da fonte */
.rodape {
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;
}

.rodape img {
    object-fit: cover;
}
